html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}


body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
	font: 19px arial, sans-serif;
}

.personal {
	background-color: #AAF1FF;
	float: left;
	width: 50%;
	height: 1000px;
}

.content {
	padding: 50px;
	padding-right: 20px;
}

#addVacationMessage, #passwordMessage, #idcodeMessage {
	color: red;
	margin-left: 30px;
}

.general {
	background-color: #FFCCAA;
	float: right;
	width: 50%;
	height: 1000px;
}

#generalVacationsList li{
	position: relative;
	margin-right: 350px;
}

table {
	margin-top: 50px;
	margin-bottom: 10px;
}

td {
	padding: 5px;
}

.personal input, .loginForm input {
	margin-bottom: 25px;
}

span {
	margin-left: 10px;
}

li {
	margin-bottom: 7px;
}

.btn {
	border: solid black 2px;
	padding: 7px 5px;
	border-radius: 5px;
	background-color: #D96C5C;
	color: white;
	font-weight: bold;
}

.general .btn {
	margin-left: 20px;
}

#confirmrejectbuttons{
	position: absolute;
	right: 0px;
}

.general form {
	margin-top: 25px;
}

/* Login page styles */

#loginBody {
	background-color: #D96C5C;
}

.loginForm {
	background-color: #d3d3d3;
	padding: 40px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 20%;
	margin: 0 auto;
	margin-top: 300px;
	border-radius: 10px;
}

#password {
	margin-left: 13px;
}

#username {
	margin-left: 8px;
}

.loginForm .btn {
	position: relative;
	left: 230px;
}

#proov {
	color: red;
}

.btn:hover {
	opacity: 0.8;
}

#adminbody {
	background-color: #AAF1FF;
}

.aligncenter {
	text-align: center;
}

.general .content div {
	display: inline;
}

.alert {
	color: red;
}
