/* table styles */
.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th,
	.borderless thead tr td, .borderless tfoot tr th, .borderless tfoot tr td
	{
	border: none !important;
}

/*button styles */

.btn {
	border: solid black 1px !important;
	border-radius: 5px;
	background-color: #D96C5C;
	color: white;
	font-weight: 600 !important;
}

/* Login page */

#loginBody {
	background-color: #D96C5C;
}

.loginForm {
	padding: 15px;
	padding-right: 80px;
	padding-left: 80px;
	background-color: #d3d3d3;
	float: none;
	margin: 0 auto;
	border-radius: 10px;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0
}

.container-fluid {
	height: 100%;
	display: table;
	padding: 0;
}

.row-fluid {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

#username {
	width: 174px;
}

#tryagain {
	color: red;
	font-weight: 600;
	margin-top: 15px;
}

#username, #password {
	width: 150px;
}

/* Employee page styles */ 

#employeebody {
	background-color: #F4A1FF;
}

#department {
	margin-bottom: 50px;
}

#vacationenterform {
	margin-right: 200px;
}

#vacationenterform {
	margin-bottom: 25px;
	margin-top: 20px;
}

#bonuslabel {
	margin-left: 15px;
}

#personalvacationtable {
	margin-top: 20px;
}

#sendbuttonandmessage {
	margin-top: 10px;
}

#addVacationMessage {
	color: red;
	font-weight: 600;
	margin-left: 12px;
}

.alert {
	color: red;
	font-weight: 600;
}

#administerButton {
	margin-top: 30px;
}

.content {
	margin-top: 30px;
}

#departmentVacations {
	margin-top: 40px;
	margin-bottom: 20px;
}

li div {
	display: inline-block;
}

li input {
	margin-right: 10px;
}

li span {
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
	width: 70px;
}

li .form-control {
	width: 110px !important;
}

input[type=text] {
	width: 160px;
}

.form-inline {
	margin-top: 10px;
}

/*Admin page*/

#adminbody {
	background-color: #F4A1FF;
}

#listofemployees {
	margin-top: 25px;
}

#addEmployeeForm {
	margin-top: 15px;
}

#addEmployeeForm {
	margin-right: 400px;
}

.smallerwidth {
	width: 150px;
}

#passwordMessage, #idcodeMessage {
	color: red;
	font-weight: 600;
	width: 300px;
}